<div class="row">
	<div class="col">
		<h1>*ngIf</h1>
		<hr>
		<div *ngIf="mostrar" class="card" style="width: 100%; text-decoration: none;">
			<div class="card-body">
				<p class="card-text">Autor: {{ frase.autor}} </p>
				<p class="card-text">Mensaje: {{ frase.mensaje}} </p>
				<a href="#" class="card-link">Link</a>
				<a href="#" class="card-link">Another link</a>
			</div>
		</div>
		<button (click)="mostrar = !mostrar" class="btn btn-outline-primary mt-2 " style="width: 100%;">
			Mostrar/Ocultar
		</button>
	</div>

	<div class="col">
		<h1>*ngFor</h1>
		<hr>
		<ul class="list-group">
			<li *ngFor="let person of personajes; let i = index" class="list-group-item">{{ i + 1 }} - {{person}}</li>
		</ul>
	</div>
</div>